/* hero */
#hero {
    margin-top: 0px;
    width: 100vw;
    background-image: url('../images/kids.jpg');
    background-size: cover;
    height: 80vw;
    max-height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* main welcome page body */

#covidUpdate {
    border: solid 2px #333;
    background-color: rgb(190, 196, 195);
}

#about h3 {
    margin-top: 80px;
}




@media screen and (min-width: 769px) {

}