#mainText #container {
    padding: 140px 8px 30px 8px;
    margin: 0px;
    width: 100% !important;
}

@media screen and (min-width: 769px) {

    #mainText {
        padding-top: 90px;
    }

    #mainText #container {
        background: whitesmoke;
        width: 70vw !important;
        padding-top: 40px;
        margin: 0px 20vw 0px 20vw;
    }

}
