#mainText #container {
    padding: 140px 8px 30px 8px;
    margin: 0px;
    width: 100% !important;
}

img {
    width: 90%;
    border-radius: 3px;
}

#coursesH1 {
    font-size: 6em;
    margin-bottom: 50px;
}

.courses {
    border: 4px solid var(--teal);
    background-color: var(--lGray);
    border-radius: 10px;
    margin: 14px;
}

.title {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--teal);
}

.title:hover {
    cursor: pointer;
}

.closed {
    height: 0px;
    overflow: hidden;
    margin: 0px !important;
}

@media screen and (min-width: 769px) {
    #mainText {
        padding-top: 90px;
    }
    #mainText #container {
        background: whitesmoke;
        width: 70vw !important;
        padding-top: 40px;
        margin: 0px 20vw 0px 20vw;
    }
}