#mainText #container {
    padding: 140px 8px 30px 8px;
    margin: 0px;
    width: 100% !important;
}

h1 {
}
p {
    text-indent: 0% !important;
    margin-top: 0px !important;
}

#ballerina {
    height: 300px;
}


.contactDiv {
    border-radius: 9px;
    max-width: 80vw;
    margin: 30px auto 30px auto;
    background-color: var(--lGray);
    padding-bottom: 16px;
}

.contactDiv p:first-of-type {
    background-color: var(--teal);
    width: 100%;
    margin: 0px !important;
    padding: 10px 0px 10px 0px;

}



button {
    border: none;
    background: none;
}

button img {
    width: 72px;
    height: 72px;
}

.buttonDiv {
    margin: 22px;
}

@media screen and (min-width: 769px) {

    #mainText {
        padding-top: 90px;
    }

    #mainText #container {
        background: whitesmoke;
        width: 70vw !important;
        padding-top: 40px;
        margin: 0px 20vw 0px 20vw;
    }

    .contactDiv {
        max-width: 500px;
    }
}

@media screen and (min-width: 2000px) {
    #mainText #container {
    }
}