#mainText #container {
    padding: 140px 8px 30px 8px;
    margin: 0px;
    width: 100% !important;
}

img {
    width: 90%;
}

.lists {
    background-color: var(--lGray);
    margin: 10px auto 10px auto;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 3px;
    max-width: 600px;
}

.lists ul {
    list-style-type: none;
    text-align: left;
    width: 50%;
}

.lists ul li:first-of-type {
    margin-top: 15px;
}

@media screen and (min-width: 769px) {
    #mainText {
        padding-top: 90px;
    }
    #mainText #container {
        background: whitesmoke;
        width: 70vw !important;
        padding-top: 40px;
        margin: 0px 20vw 0px 20vw;
    }
}